* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}

.anime {
  opacity: 0;
  transform: translate3d(-250px, 0, 0);
  transition: 0.2s;
}

.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.arrow-top {
  position: fixed;
  width: 2.4vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  bottom: 2vw;
  right: 2vw;
  padding: 0.3vw;
  z-index: 8;
  cursor: pointer;
  transition: 0.4s all;
  border-radius: 0.2vw;
  font-weight: bold;
  display: none;
}
@media (max-width:1023px) {
  .arrow-top {
    width: 9vw;
    padding: 1.2vw;
    border-radius: 1vw;
    bottom: 7vw;
    right: 5vw;
  }
}

.arrow-top a {
  color: #fff;
  text-decoration: none;
}

.arrow-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

h2.block-title {
  padding: 1.6vw 0;
  font-size: 2vw;
  letter-spacing: -1px;
  text-align: center;
}
@media (max-width:1023px) {
  h2.block-title {
    font-size: 7vw;
    padding: 5vw 0;
  }
}

header {
  background: url(../img/bgbody6.jpeg);
  background-attachment: fixed;
  width: auto;
  height: 100vh;
  /* TEXT HEADER */
  /* MOBILE */
}
header .top-header {
  /* animation: animacao-nav 2s 0s 1; */
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.4vw;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  /* LOGO */
  /* MENU */
}
header .top-header #logo a {
  position: absolute;
  margin: 1.3vw 2vw;
  letter-spacing: -1px;
  color: #1E90FF;
  text-decoration: none;
  font-size: 2vw;
}
header .top-header .out {
  color: #fff;
}
header .top-header #menu #bt-menu {
  display: none;
}
header .top-header #menu ul {
  margin: 2vw 6vw;
  position: absolute;
}
header .top-header #menu li {
  display: inline-block;
  padding-right: 0.9vw;
}
header .top-header #menu a.menu {
  text-transform: uppercase;
  border-radius: 7px;
  font-size: 0.8vw;
  padding: 0.6vw;
  text-decoration: none;
  color: #fff;
  position: relative;
}
header .top-header #menu a.menu::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1E90FF;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
header .top-header #menu a.menu:hover::after {
  width: 100%;
}
header .top-header #menu a.menu:hover {
  color: #fff;
}
header .top-header #menu .language-bt {
  background-color: rgba(213, 206, 194, 0.4);
  width: 5.6vw;
  border-radius: 0.7vw;
  margin: 1.8vw;
  display: flex;
}
header .top-header #menu .language-bt .flag {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
  width: 50%;
  height: 1.49vw;
  cursor: pointer;
  transition: 0.4s all ease;
  font-size: 0;
}
header .top-header #menu .language-bt .flag.active {
  background-color: #fff;
}
header .top-header #menu .language-bt .pt-br {
  background-image: url(../img/pt-br.png);
  border-radius: 0.7vw;
}
header .top-header #menu .language-bt .en-us {
  background-image: url(../img/en-us.png);
  border-radius: 0.7vw;
}
header #text-bg {
  top: 17vw;
  left: 5vw;
  position: absolute;
}
header #text-bg h1.top-line {
  font-weight: bold;
  color: #1E90FF;
  letter-spacing: -3px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  font-size: 5.3vw;
  animation: typingAnimation 1.6s steps(40) 1s normal both;
  overflow: hidden;
  white-space: nowrap;
}
header #text-bg h2.bottom-line {
  color: #fff;
  font-weight: 700;
  font-size: 2vw;
  margin-bottom: 1.9vw;
  display: block;
  animation: typingAnimation 1.6s steps(40) 1.9s normal both;
  overflow: hidden;
  white-space: nowrap;
}
header #text-bg .bt {
  display: inline-block;
  text-decoration: none;
  width: 12vw;
  border-radius: 0.3vw;
  text-align: center;
  font-size: 0.97vw;
  font-weight: bold;
  padding: 0.86vw 1.66vw;
  margin-right: 1.6vw;
  opacity: 0;
}
header #text-bg .linkedin-bt {
  color: #fff;
  border: 2px solid #1E90FF;
  background: rgba(0, 0, 0, 0.4);
  animation: btAnimation 1s 2.4s normal both;
}
header #text-bg .cv-bt {
  background-color: #fff;
  color: #1E90FF;
  animation: btAnimation 1s 2.6s normal both;
}
header #text-bg .cv-bt .download {
  background: url(../img/download.png) no-repeat;
  width: 1vw;
  height: 1vw;
  position: relative;
  top: 0;
  display: inline-block;
  margin-left: 0.5vw;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
header #text-bg .linkedin-bt:hover {
  background: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 1px 2px #1E90FF;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.25vw;
}
header #text-bg .cv-bt:hover .download {
  top: 0.2vw;
}
@keyframes typingAnimation {
  from {
    width: 0;
  }
  to {
    width: 92vw;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: #fff;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes btAnimation {
  from {
    top: 5vw;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
header .coding-animate {
  position: absolute;
  right: 10vw;
  top: 14.5vw;
  width: 18vw;
  height: 18vw;
  cursor: pointer;
  background: url(../img/coding.png) no-repeat;
  background-size: contain;
}
@media (max-width:1023px) {
  header {
    min-height: 100dvh;
    height: auto;
  }
  header .top-header {
    height: 20vw;
  }
  header .top-header #logo a {
    font-size: 6vw;
    margin: 6vw;
  }
  header .top-header #menu #bt-menu {
    margin: 8vw;
    display: block;
    border: none;
    background: none;
  }
  header .top-header #menu #bt-menu .hamburguer {
    border-top: 2px solid #fff;
    width: 25px;
    display: inline-block;
  }
  header .top-header #menu #bt-menu .hamburguer::before, header .top-header #menu #bt-menu .hamburguer::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    margin-top: 5px;
    background-color: #fff;
    position: relative;
    transition: 0.4s;
  }
  header .top-header #menu ul {
    width: 50%;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.9);
    top: 20vw;
    right: -50vw;
    transition: 0.3s;
    margin: 0;
  }
  header .top-header #menu ul li {
    padding: 5vw 8vw;
    display: block;
    border-top: 2px solid #ddd;
  }
  header .top-header #menu ul li a.menu {
    font-size: 3.3vw;
    padding: 2vw;
  }
  header .top-header #menu .language-bt {
    width: 24vw;
    position: absolute;
    right: 21vw;
    top: 4.2vw;
    border-radius: 4vw;
  }
  header .top-header #menu .language-bt .flag {
    height: 7vw;
  }
  header .top-header #menu .language-bt .pt-br {
    border-radius: 4vw;
  }
  header .top-header #menu .language-bt .en-us {
    background-image: url(../img/en-us.png);
    border-radius: 4vw;
  }
  header .top-header #menu.active #bt-menu .hamburguer {
    border-top: none;
  }
  header .top-header #menu.active #bt-menu .hamburguer::before {
    transform: rotate(135deg);
  }
  header .top-header #menu.active #bt-menu .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  header .top-header #menu.active ul {
    right: 0;
  }
  header .content-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-top: 40vw;
  }
  header .content-header #text-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  header .content-header #text-bg h1.top-line {
    font-size: 11vw;
    animation: none;
    margin: 5vw 0;
  }
  header .content-header #text-bg h2.bottom-line {
    font-size: 5vw;
    animation: none;
    margin-bottom: 10vw;
  }
  header .content-header #text-bg .bt {
    padding: 4vw 7vw;
    font-size: 4vw;
    animation: none;
    display: block;
    width: 50vw;
    border-radius: 2vw;
    margin: 4vw auto;
    opacity: 1;
  }
  header .content-header #text-bg .bt .download {
    width: 4vw;
    height: 4vw;
    margin-left: 2vw;
  }
  header .content-header .coding-animate {
    display: none;
  }
  header .content-header .coding-mobile {
    background: url(../img/coding.png) no-repeat;
    background-size: contain;
    display: block;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
    width: 70vw;
    height: 70vw;
  }
}

#sobre {
  width: 40vw;
  min-height: 95vh;
  height: auto;
  margin: auto;
  padding-top: 5vw;
  /* MOBILE */
}
#sobre .desc {
  text-align: center;
  width: 40vw;
  color: #3d3d3d;
}
#sobre img {
  width: 10vw;
  margin: 1.33vw;
  border-radius: 100px;
  border: 4px solid white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  transform: rotate(10deg);
}
#sobre p {
  font-size: 1.06vw;
}
@media (max-width:1023px) {
  #sobre {
    width: 100%;
    padding: 13vw 0;
    min-height: 95dvh;
  }
  #sobre .desc {
    width: 100%;
  }
  #sobre img {
    width: 30vw;
  }
  #sobre p {
    font-size: 4.3vw;
    padding: 2vw 5vw;
  }
}

#skills {
  width: auto;
  height: 100vh;
  background-image: url(../img/bgbody4.png);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10vw;
}
#skills .block-title {
  color: #fff;
}
#skills .skill-block {
  margin: auto;
  display: flex;
  width: 46vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
#skills .skill-block__item {
  width: 8vw;
  border: 1px solid #fff;
  margin: 0.6vw 0;
  background-color: #fff;
  border-radius: 1vw 1vw 0 1vw;
}
#skills .skill-block__item h3 {
  color: #3d3d3d;
  text-align: center;
  margin-top: 1.1vw;
  font-size: 1.07vw;
}
#skills .skill-block__item img {
  width: 100%;
  padding: 1vw 2vw;
  filter: grayscale(0.5);
}
#skills .skill-block__item:hover {
  cursor: pointer;
  transform: scale(1.04);
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.6);
  background-color: #fff;
  transition: all 0.2s ease-in;
}
#skills .skill-block__item:hover h3 {
  color: #3d3d3d;
}
#skills .skill-block__item:hover img {
  filter: grayscale(0);
}

/* MOBILE */
@media (max-width:1023px) {
  #skills {
    min-height: 100dvh;
    height: auto;
    background-attachment: scroll;
  }
  #skills .skill-block {
    width: 75vw;
    padding-bottom: 7vw;
  }
  #skills .skill-block__item {
    width: 30vw;
    border-radius: 4vw 4vw 0 4vw;
    margin: 4vw 0;
  }
  #skills .skill-block__item h3 {
    font-size: 4vw;
    margin-top: 3vw;
  }
  #skills .skill-block__item img {
    padding: 3vw 6vw;
  }
  #skills .skill-block__item:hover {
    transform: scale(1.08);
  }
}
#portfolio {
  text-align: center;
  width: 100%;
  height: auto;
  color: #3d3d3d;
  background: #fff;
  padding-top: 3vw;
  /* MOBILE */
}
#portfolio .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75vw;
  margin: auto;
}
#portfolio .box__item {
  width: 33vw;
  height: 20vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3vw 0;
  position: relative;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.4);
  border-radius: 0.7vw;
  cursor: pointer;
}
#portfolio .box__item img {
  width: 100%;
  transform: scale(1.13);
  transition: 0.3s ease-in;
}
#portfolio .box__item .intro {
  position: absolute;
  top: 100%;
  left: 0;
  backdrop-filter: blur(0.1vw);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in;
}
#portfolio .box__item .intro h3 {
  color: #fff;
}
#portfolio .box__item:hover img {
  transform: scale(1);
}
#portfolio .box__item:hover .intro {
  top: 70%;
}
@media (max-width:1023px) {
  #portfolio .box__item {
    width: 80vw;
    height: 47vw;
    margin: 5vw 0;
  }
  #portfolio .box__item .intro h3 {
    font-size: 3.6vw;
  }
}

/* CONTATO */
#contato {
  text-align: center;
  width: 100%;
  margin: 3vw auto;
  height: auto;
  min-height: 45vh;
  color: #3d3d3d;
}
#contato h1 {
  padding-bottom: 40px;
  font-size: 50px;
  letter-spacing: -1px;
}
#contato p.contact-text {
  font-size: 20px;
  color: #3d3d3d;
  padding: 0 5vw;
  width: 800px;
  margin: 12px auto;
}
@media (max-width:1023px) {
  #contato p.contact-text {
    width: 340px;
    text-align: center;
    font-size: 16px;
  }
}
#contato .bolder {
  margin-bottom: 10px;
  color: #3d3d3d;
  font-size: 25px;
  font-weight: 800;
}
#contato a {
  text-decoration: none;
  color: #3d3d3d;
}
#contato .mailto {
  background: url(../img/email.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  position: relative;
  top: 4px;
}
#contato i {
  font-size: 25px;
  margin: 0 10px;
}
#contato .wrapper {
  display: inline-block;
  text-align: left;
}
#contato .wrapper .button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin: 0 8px;
  padding: 0 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  line-height: 65px;
  display: inline-block;
  transition: 0.3s all ease-in-out;
}
@media (max-width:1023px) {
  #contato .wrapper .button {
    width: 180px;
    margin: 15px auto;
    display: block;
  }
}
#contato .wrapper .button .icon {
  display: inline-block;
}
#contato .wrapper .button:hover {
  width: 180px;
  background-color: rgba(102, 102, 102, 0.1);
}

/* RODAPE */
footer {
  color: #3d3d3d;
  width: 100%;
  height: 3.7vw;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  /* MOBILE */
}
@media (max-width:1023px) {
  footer {
    height: 13vw;
    font-size: 3.5vw;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  h1#logo a {
    left: 10px;
  }
  nav ul {
    right: 10px;
  }
  nav ul li {
    padding-right: 7px;
  }
}
@media screen and (min-width: 992px) {
  h1#logo a {
    left: 60px;
  }
  nav ul {
    right: 50px;
  }
  #porfolio {
    height: 590px;
  }
}

/*# sourceMappingURL=style.css.map */
