* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}

.anime {
  opacity: 0;
  transform: translate3d(-250px, 0, 0);
  transition: 0.2s;
}

.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

h2.block-title {
  padding: 1.6vw 0;
  font-size: 2vw;
  letter-spacing: -1px;
  text-align: center;
}

header {
  background: url(../img/bgbody6.jpeg);
  background-attachment: fixed;
  width: auto;
  height: 100vh;
  /* TEXT HEADER */
}
header nav {
  /* animation: animacao-nav 2s 0s 1; */
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.3vw;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  /* LOGO */
  /* MENU */
}
header nav #logo a {
  position: absolute;
  margin: 1.3vw 2vw;
  letter-spacing: -1px;
  color: #1E90FF;
  text-decoration: none;
  font-size: 2vw;
}
header nav .out {
  color: #eee;
}
header nav #btmenu {
  display: none;
}
header nav label[for=btmenu] {
  float: right;
  position: relative;
  top: 15px;
  right: 30px;
  cursor: pointer;
  display: none;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  color: #eee;
  font-family: "Arial";
}
header nav ul {
  margin: 2vw;
  position: absolute;
}
header nav ul li {
  display: inline-block;
  padding-right: 0.7vw;
}
header nav ul li a {
  text-transform: uppercase;
  border-radius: 7px;
  font-size: 0.8vw;
  padding: 0.7vw;
  text-decoration: none;
  color: #eee;
}
header nav ul li a.menu:hover {
  color: white;
  background: #1E90FF;
  border-radius: 7px;
  transition: all 0.6s;
}
header #text-bg {
  top: 17vw;
  left: 5vw;
  position: absolute;
}
header #text-bg h1.top-line {
  font-weight: bold;
  color: #1E90FF;
  letter-spacing: -3px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  font-size: 5.3vw;
  animation: typingAnimation 1s steps(40) 1s normal both;
  overflow: hidden;
  white-space: nowrap;
}
header #text-bg h2.bottom-line {
  color: #eee;
  font-weight: 700;
  font-size: 2vw;
  margin-bottom: 1.9vw;
  display: block;
  animation: typingAnimation 1s steps(40) 2s normal both;
  overflow: hidden;
  white-space: nowrap;
}
header #text-bg .linkedin-bt {
  color: #fff;
  text-decoration: none;
  border: 3px solid #1E90FF;
  padding: 0.86vw 1.66vw;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1.3vw;
  text-align: center;
  opacity: 0;
  font-weight: bold;
  font-size: 0.95vw;
  animation: btAnimation 1s 2.4s normal both;
  position: relative;
}
header #text-bg .linkedin-bt:hover {
  background: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 1px 2px #1E90FF;
  transition: all 0.3s ease-in;
  letter-spacing: 5px;
}
@keyframes typingAnimation {
  from {
    width: 0;
  }
  to {
    width: 49vw;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: #eee;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes btAnimation {
  from {
    top: 5vw;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
header .coding-animate {
  position: absolute;
  right: 10vw;
  top: 12vw;
  width: 18vw;
  height: 18vw;
  cursor: pointer;
  background: url(../img/coding.png) no-repeat;
  background-size: contain;
}

#sobre {
  width: 40vw;
  height: 85vh;
  margin: auto;
  padding-top: 5vw;
}
#sobre .desc {
  text-align: center;
  width: 40vw;
  color: rgba(0, 0, 0, 0.7);
}
#sobre img {
  width: 10vw;
  margin: 1.33vw;
  border-radius: 100px;
  border: 4px solid white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}
#sobre p {
  font-size: 1.06vw;
}

#skills {
  background-color: #ddd;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background: url(../img/bgbody4.png) no-repeat;
  background-size: contain;
  padding-top: 10vw;
}
#skills .block-title {
  color: #eee;
}
#skills .skill-block {
  margin: auto;
  display: flex;
  width: 35vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
#skills .skill-block__item {
  width: 8vw;
  border: 1px solid #eee;
  margin: 0.6vw 0;
  background-color: #eee;
  border-radius: 1vw 1vw 0 1vw;
}
#skills .skill-block__item h3 {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 1.1vw;
  font-size: 1.07vw;
}
#skills .skill-block__item img {
  width: 100%;
  padding: 1vw 2vw;
  filter: grayscale(0.9);
}
#skills .skill-block__item:hover:nth-child(1) h3 {
  color: #ff7816;
}
#skills .skill-block__item:hover:nth-child(3) h3 {
  color: #cd6699;
}
#skills .skill-block__item:hover:nth-child(4) h3 {
  color: #ffdf00;
}
#skills .skill-block__item:hover:nth-child(5) h3 {
  color: #00cfdd;
}
#skills .skill-block__item:hover:nth-child(7) h3 {
  color: #5c6bc0;
}
#skills .skill-block__item:hover:nth-child(8) h3 {
  color: #3747d6;
}
#skills .skill-block__item:hover {
  cursor: pointer;
  transform: scale(1.04);
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in;
}
#skills .skill-block__item:hover h3 {
  color: #1E90FF;
}
#skills .skill-block__item:hover img {
  filter: grayscale(0);
}

#portfolio {
  text-align: center;
  width: 100%;
  height: auto;
  color: rgba(0, 0, 0, 0.7);
  background: #eee;
  padding-top: 3vw;
}
#portfolio .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75vw;
  margin: auto;
}
#portfolio .box__item {
  width: 33vw;
  height: 20vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3vw 0;
  position: relative;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.4);
  border-radius: 0.7vw;
  cursor: pointer;
  transition: 0.3s ease-in;
}
#portfolio .box__item img {
  width: 100%;
}
#portfolio .box__item .intro {
  position: absolute;
  top: 100%;
  left: 0;
  backdrop-filter: blur(0.1vw);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in;
}
#portfolio .box__item .intro h3 {
  color: #fff;
}
#portfolio .box__item:hover {
  transform: scale(1.1);
}
#portfolio .box__item:hover .intro {
  top: 70%;
}

/* CONTATO */
#contato {
  padding-top: 60px;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 441px;
  color: rgba(0, 0, 0, 0.7);
}

#contato h1 {
  padding-bottom: 40px;
  font-size: 50px;
  letter-spacing: -1px;
}

#contato p {
  font-size: 17px;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.6);
}

#contato p.bolder {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-weight: 800;
}

/* RODAPE */
footer {
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.7);
  clear: both;
  width: 100%;
  height: 50px;
  background: #ddd;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  /* NAV */
  label[for=btmenu] {
    display: block;
  }
  h1#logo a {
    left: 20px;
  }
  #menu ul {
    width: 100%;
    height: 200px;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.9);
    top: -500px;
    right: 0;
  }
  #btmenu:checked ~ #menu ul {
    top: 30px;
    right: 0;
  }
  #menu ul li {
    padding: 10px 30px;
    display: block;
  }
  /* BANNER */
  #text-bg h1 {
    font-size: 50px;
  }
  #text-bg h2 {
    font-size: 24px;
  }
  /* SOBRE, PORTFOLIO, CONTATO */
  #sobre {
    height: 640px;
    width: auto;
  }
  #sobre h1 {
    padding-top: 40px;
    font-size: 35px;
  }
  #sobre h2 {
    font-size: 25px;
  }
  #portfolio {
    height: auto;
  }
  #portfolio h1 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #contato h1 {
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) {
  h1#logo a {
    left: 10px;
  }
  nav ul {
    right: 10px;
  }
  nav ul li {
    padding-right: 7px;
  }
}
@media screen and (min-width: 992px) {
  h1#logo a {
    left: 60px;
  }
  nav ul {
    right: 50px;
  }
  #porfolio {
    height: 590px;
  }
}

/*# sourceMappingURL=style.css.map */
