header{
	background: url(../img/bgbody6.jpeg);
	background-attachment: fixed;
	width: auto;
	height: 100vh;

    .top-header {
        /* animation: animacao-nav 2s 0s 1; */
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5.4vw;
        background: rgba(0,0,0,.9);
        display: flex;
        justify-content: space-between;

        /* LOGO */
        #logo a{
            position: absolute;	
            margin: 1.3vw 2vw;
            letter-spacing: -1px;
            color: $primaryColor;
            text-decoration: none;
            font-size: 2vw;
        }
        
        .out {
            color: $white;
        }

        /* MENU */
        #menu {
            #bt-menu{
                display: none;
            }        
    
            ul {
                margin: 2vw 6vw;
                position: absolute;
            }
            
            li {
                display: inline-block;
                padding-right: .9vw;
            }
            
             a.menu{
                text-transform: uppercase;
                border-radius: 7px;
                font-size: .8vw;
                padding: .6vw;
                text-decoration: none;
                color: $white;
                position: relative;
            }
    
            a.menu::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 0;
                bottom: 0;
                left: 0;
                background-color: $primaryColor;
                transition: .4s;
            }
            
            a.menu:hover::after{
                width: 100%;
            }
            
            a.menu:hover {
                color: #fff;
            }
            .language-bt {
                border: 1px solid $white;
                width: 5.6vw;
                border-radius: 1vw;
                margin: 1.8vw;
                display: flex;
                .flag {
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    border: 0;
                    width: 50%;
                    height: 1.49vw;                    
                    cursor: pointer;
                    transition: .4s;
                }
                .flag.active {
                    background-color: $white;
                }
                .pt-br {
                    background-image: url(../img/pt-br.png);
                    border-radius: 1vw 0 0 1vw;                 
                }
                .en-us {
                    background-image: url(../img/en-us.png);
                    border-radius: 0 1vw 1vw 0;
                }
            }
        }
        
    }

    /* TEXT HEADER */
    #text-bg{
        top: 17vw;
        left: 5vw;
        position: absolute;

        h1.top-line{
            font-weight: bold;
            color: $primaryColor;
            letter-spacing: -3px;
            text-shadow: 2px 2px 3px rgba(0,0,0,.4);
            font-size: 5.3vw;
            // border-right: 2px solid $white;
            animation:  typingAnimation 1.6s steps(40) 1s normal both;
            overflow: hidden;
            white-space: nowrap;
            
        }
        
        h2.bottom-line{
            color: $white;
            font-weight: 700;
            font-size: 2vw;
            margin-bottom: 1.9vw;
            display: block;
            animation: typingAnimation 1.6s steps(40) 1.9s normal both;
            overflow: hidden;
            white-space: nowrap;
        }

        .linkedin-bt {
            width: 13vw;
            color: #fff;
            display: inline-block;
            text-decoration: none;
            border: 2px solid $primaryColor;
            padding: .86vw 1.66vw;
            background: rgba(0,0,0,.6);
            border-radius: .3vw;
            text-align: center;
            opacity: 0;
            font-weight: bold;
            font-size: .97vw;
            animation: btAnimation 1s 2.4s normal both;
        }
        
        .linkedin-bt:hover {
            background: rgba(0,0,0,.9);
            text-shadow: 1px 1px 2px $primaryColor;
            transition: all .3s ease-in-out;
            letter-spacing: 7px;           
        }

        @keyframes typingAnimation {
            from {
                width: 0;
            }
            to {
                width: 92vw;
            }
        }

        @keyframes blinkCursor {
            from {
                border-right-color: $white;
            }
            to {
                border-right-color: transparent;
            }
        }

        @keyframes btAnimation {
            from {
                top: 5vw;
            }
            to {
                top: 0;
                opacity: 1;
            }
        }       
        
    }
    
    .coding-animate {
        position: absolute;
        right: 10vw;
        top: 14.5vw;
        width: 18vw;
        height: 18vw;
        cursor: pointer;
        background: url(../img/coding.png) no-repeat;
        background-size: contain;
        
    }
    
    /* MOBILE */
    @media #{$mediamobile} {
        height: 100dvh;
        .top-header {
            height: 20vw;
            #logo a {
                font-size: 6vw;
                margin: 6vw;
            }
            #menu {
                #bt-menu {
                    margin: 8vw;
                    display: block;
                    border: none;
                    background: none;
                    .hamburguer {
                        border-top: 2px solid $white;
                        width: 25px;
                        display: inline-block;
                    }
                    .hamburguer::before, .hamburguer::after {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 2px;
                        margin-top: 5px;
                        background-color: $white;
                        position: relative;
                        transition: .4s;
                    }
                }
                ul{
                    width: 50%;
                    transition: all .4s;
                    background: rgba(0,0,0,.9);
                    top: 20vw;
                    right: -50vw;
                    transition: .3s;
                    margin: 0;
                }
        
                ul li{	
                    padding: 5vw 8vw;
                    display: block;
                    border-bottom: 2px solid $grey;
                }
    
                ul li:last-child {
                    border-bottom: none;
                }
    
                ul li a.menu {
                    font-size: 3.3vw;
                    padding: 2vw;
                }
            }
            
            #menu.active #bt-menu .hamburguer {
                border-top: none;
            }
            #menu.active #bt-menu .hamburguer::before {
                transform: rotate(135deg);
            }
            #menu.active #bt-menu .hamburguer::after {
                transform: rotate(-135deg);
                top: -7px;
            }
            

            #menu.active ul {
                right: 0;
            }
        }

        .content-header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            padding-top: 40vw;
            #text-bg {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                h1.top-line {
                    font-size: 11vw;
                    animation: none;
                    margin: 5vw 0;
                }
                h2.bottom-line {
                    font-size: 5vw;
                    animation: none;
                    margin-bottom: 10vw;
                }
                .linkedin-bt {
                    padding: 4vw 7vw;
                    font-size: 4vw;
                    animation: none;
                    opacity: 1;
                    width: 50vw;
                }
            }
    
            .coding-animate {
                margin: auto;
                position: relative;
                left: 0;
                top: 0;
                width: 70vw;
                height: 70vw;
            }
        }
    }
}





