$mobile: '1023px';
$desktop: '1024px';
$mediadesktop: '(min-width:' + $desktop + ')';
$mediamobile: '(max-width:' + $mobile + ')';


$primaryColor: #1E90FF;
$secundaryColor: rgba(0, 0, 0, 0.7);
$white : #fff;
$grey: #ddd;
$html: #ff7816;
$sass: #cd6699;
$github: #5c6bc0;
$javascript: #ffdf00;
$figma: #3747d6;
$react: #00cfdd;
$angular: #E53F3B;

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	letter-spacing: 1px;
}

.anime {
	opacity: 0;
	transform: translate3d(-250px,0,0);
	transition: .2s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.arrow-top {
	position: fixed;
	width: 2.4vw;
	background-color: rgba(0,0,0,.6);
	color: $white;
	bottom: 2vw;
	right: 2vw;
	padding: .3vw;
	z-index: 8;
	cursor: pointer;
	transition: .4s all;
	border-radius: .2vw;
	font-weight: bold;
	@media #{$mediamobile} {
		width: 9vw;
		padding: 1.2vw;
		border-radius: 1vw;
	}
}

.arrow-top a {
	color: $white;
	text-decoration: none;
}

.arrow-top:hover {
	background-color: rgba(0,0,0,.8);
}

h2.block-title {
	padding: 1.6vw 0;
 	font-size: 2vw;
	letter-spacing: -1px;
	text-align: center;
	@media #{$mediamobile} {
		font-size: 7vw;
		padding: 5vw 0;
	}
}
