#skills {
    width: auto;
    height: 100vh;
    background-image: url(../img/bgbody4.png);
    background-size: cover;
    padding-top: 10vw;
    .block-title {
        color: $white;
    }
    .skill-block {
        margin: auto;
        display: flex;
        width: 46vw;
        flex-wrap: wrap;
        justify-content: space-between;       
        &__item {
            width: 8vw;
            border: 1px solid $white;
            margin: .6vw 0;
            background-color: $white;
            border-radius: 1vw 1vw 0 1vw;
            h3 {
                color: $secundaryColor;
                text-align: center;
                margin-top: 1.1vw;
                font-size: 1.07vw;
            }
            img {
                width: 100%;
                padding: 1vw 2vw;
                filter: grayscale(.9);
            }
        }

        // &__item:hover:nth-child(1) h3 {
        //     color: $html;
        // }

        // &__item:hover:nth-child(3) h3 {
        //     color: $sass;
        // }

        // &__item:hover:nth-child(4) h3 {
        //     color: $javascript;
        // }

        // &__item:hover:nth-child(5) h3 {
        //     color: $angular;
        // }

        // &__item:hover:nth-child(7) h3 {
        //     color: $github;
        // }

        // &__item:hover:nth-child(8) h3 {
        //     color: $figma;
        // }

        &__item:hover {
            cursor: pointer;
            transform: scale(1.04);
            box-shadow: 0 0 1vw rgba(0,0,0,.6);
            background-color: #fff;
	        transition: all .2s ease-in;
            h3 {
                color: $secundaryColor;
            }
            img {
                filter: grayscale(0);
            }
        }

    }
    
}

/* MOBILE */
@media #{$mediamobile} {
    #skills {
        height: auto;
        .skill-block {
            width: 75vw;
            &__item {
                width: 30vw;
                border-radius: 4vw 4vw 0 4vw;
                margin: 4vw 0;
                h3 {
                    font-size: 4vw;
                    margin-top: 3vw;
                }
                img {
                    padding: 3vw 6vw;
                }
            }
            &__item:hover {
                transform: scale(1.08);
            }
        }
    }
    
}