@import './patterns';
@import './header';
@import './about';
@import './skills';
@import './portfolio';
@import './contact';

/* MEDIA QUERIES */

@media screen and (min-width: 768px){
	h1#logo a{
		left: 10px;
	}

	nav ul{
		right: 10px;
	}

	nav ul li{
		padding-right: 7px;
	}
}

@media screen and (min-width: 992px){
	h1#logo a{
		left: 60px;
	}

	nav ul{
		right: 50px;
	}

	#porfolio{
		height: 590px;
	}
}