/* GERAL */
@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Trebuchet MS', sans-serif;
	letter-spacing: 1px;
}

.anime {
	opacity: 0;
	transform: translate3d(-250px,0,0);
	transition: .5s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

header{
	background: url(img/bgbody4.png);
	background-attachment: fixed;
	width: 100%;
	height: 675px;
}

/* NAV */

h1#logo a{
	float: left;
	position: relative;
	top: 20px;
	left: 60px;
	letter-spacing: -1px;
	color: #1E90FF;
	text-decoration: none;
	font-size: 23pt;
}
#out{
	color: #eee;
}

nav{
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,.9);
}

nav ul{
	float: right;
	position: relative;
	top:26px;
	right: 50px;
}

nav ul li{
	display: inline-block;
	padding-right: 11px;
}

nav ul li a{
	text-transform: uppercase;
	border-radius: 7px;
	font-size: 12px;
	padding: 11px;
	text-decoration: none;
	color: #eee;
}

nav ul li a.menu:hover{
	color: white;
	background: #1E90FF;
	border-radius: 7px;
	transition: all .6s;
}

a.icons{
	margin:1px 10px;
}

#btmenu{
	display: none;
}

label[for="btmenu"]{
	float: right;
	position: relative;
	top: 15px;
	right: 30px;
	cursor: pointer;
	display: none;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	color: #eee;
	font-family: "Arial";
}


/* BANNER */
#text-bg{
	top: 250px;
	text-align: center;
	position: relative;
}

#text-bg h1{
	font-weight: 800;
	color: #1E90FF;
	letter-spacing: -3px;
	text-shadow: 2px 2px 3px rgba(0,0,0,.4);
	font-size: 80px;
}

#text-bg h2{
	color: #eee;
	font-weight: 700;
	font-size: 30px;
}

/* SOBRE */

 #sobre{
 	color: rgba(0,0,0,.7);
 	margin: auto;
	width: 600px;
	text-align: center;
	height: 600px;
}

#sobre img{
	margin: 20px;
	border-radius: 100px;
	border: 4px solid white;
	box-shadow: 0px 0px 3px rgba(0,0,0,.6);
}

#sobre h1{
	padding-top: 50px;
	font-size: 40px;
	letter-spacing: -1px;
}

#sobre h2{
	font-size: 30px;
	margin-bottom: 25px;
	letter-spacing: -1px;
}

#sobre p{
	font-size: 16px;
	margin-bottom: 5px;
}

/* PORTFOLIO */

#portfolio{
	text-align: center;
	width: 100%;
	margin: auto;
	height: 590px;
	color: rgba(0,0,0,.7);
	background: #ddd;
}

 #portfolio h1{
 	padding-bottom:50px;
 	padding-top: 60px;
 	font-size: 50px;
	letter-spacing: -1px;
 }

#portfolio ul{
	width: 100%;
	margin: auto;
}

#portfolio ul li{
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,.5);
	list-style: none;
	margin: 20px;
	width: 330px;
	height: 264px;
	background: rgba(0,0,0,.7);
	display: inline-block;
}

#portfolio ul li:hover{
	transform: scale(1.2);
	transition: all .4s ease-in;
}
#portfolio ul li#projeto1{
	background-image: url("img/projeto1.jpg");
}
#portfolio ul li#projeto2{
	background-image: url("img/projeto2.jpg");
}
#portfolio ul li#projeto3{
	background-image: url("img/projeto3.jpg");
}

/* CONTATO */
#contato{
	padding-top: 60px;
	text-align: center;
	width: 100%;
	margin: auto;
	height: 441px;
	color: rgba(0,0,0,.7);
}

#contato h1{
	padding-bottom: 40px;
 	font-size: 50px;
	letter-spacing: -1px;
}

#contato p{
	font-size: 17px;
	margin-bottom: 6px;
	color: rgba(0,0,0,.6);
}

#contato a{
	text-decoration: none;
	color: rgba(0,0,0,.7);
	font-size: 23px;
	font-weight: 800;
}
#contato a:hover{
	transition: .4s;
	color: #1E90FF;
	text-decoration: underline;
}

#contato p#number{
	margin-bottom: 30px;
	color: rgba(0,0,0,.7);
	font-size: 25px;
	font-weight: 800;
}

/* RODAPE */
footer{
	padding-top: 30px;
	color: rgba(0,0,0,.7);
	clear: both;
	width: 100%;
	height: 50px;
	background: #ddd;
	text-align: center;
}



/* MEDIA QUERIES */
@media screen and (max-width: 767px){

	/* NAV */
	label[for="btmenu"]{
		display: block;
	}

	h1#logo a{
		left: 20px;
	}

	#menu ul{
		width: 100%;
		height: 200px;
		transition: all .4s;
		background: rgba(0,0,0,.9);
		top: -500px;
		right: 0;
	}

	#btmenu:checked ~  #menu ul{
		top: 30px;
		right: 0;
	}

	#menu ul li{	
		padding: 10px 30px;
		display: block;
	}

	a.icons{
		position: relative;
		left: 30px;
		top: 10px;
	}

	/* BANNER */
	#text-bg h1{
		font-size: 67px;
	}

	#text-bg h2{
		font-size: 27px;
	}

	/* SOBRE, PORTFOLIO, CONTATO */
	#sobre h1, #portfolio h1, #contato h1{
		padding-top: 40px;
	}

	#sobre{
		width: 500px;
	}

	#portfolio{
		height: auto;
	}

	#portfolio h1{
		padding-bottom: 30px;
	}
}

@media screen and (min-width: 768px){
	h1#logo a{
		left: 10px;
	}

	nav ul{
		right: 10px;
	}

	nav ul li{
		padding-right: 7px;
	}
}

@media screen and (min-width: 992px){
	h1#logo a{
		left: 60px;
	}

	nav ul{
		right: 50px;
	}

	#porfolio{
		height: 590px;
	}
}